.env
.venv/
__pycache__/
*.md
!README.md
!summary.md

# generated artifacts too large for git
artifacts/transformer_index.npy
artifacts/dct/dct_index.npy
artifacts/full_dataset.json
artifacts/trained_model/model.safetensors
artifacts/sae/sae_index_f16.npy